body {
    background-color: blanchedalmond;
}

.wrapper {
    width: 100%;
    
}

.img-top {
    width: 100%;

}

.img-info {
    width: 100%;
}

h1 {
    text-align: center;
    padding: 0px 30px 20px;
    font-family: arial;
    font-size: 50px;
    color: #111;
    line-height: 40px;
}

.img-info h2 {
    padding: 30px 30px 1px;
    font-family: arial;
    font-size: 35px;
    color: #111;
    line-height: 40px;
}

.img-info p {
    padding: 0px 30px 20px;
    font-family: arial;
    font-size: 18px;
    color: #111;
}

.img-game{
    width: 100%;
}


@media only screen and (min-width: 768px) {

    .wrapper {
        width: 600px;
        margin: 0 auto;
    }

    .img-info h2 {
        padding: 20px 0px 0px;
    }
    
    .img-info p {
        padding: 20px 0px 0px;
    }

    .img-game{
        padding-top: 10px;
    }

}

@media only screen and (min-width: 1000px) {

    .wrapper {
        width: 1000px;
    }

   

}